@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte-titulo: 'Passion One', sans-serif;
    --fonte-cordel: 'Sriracha', cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: lightblue;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 2em;
    padding: 40px 0px;
}

header h1 {
    margin: auto;
    max-width: 520px;
}

header span {
    font-size: 1.4em;
}

header p {
    font-size: 0.7em;
    font-weight: normal;
}

header a {
    color: white;
    text-decoration: none;
    font-family: var(--fonte-titulo);
}

header a:hover {
    color: lightblue;
}

main {
    background-color: white;
    font-family: var(--fonte-cordel);
    font-size: 1.5em;
}

main p {
    padding: 20px 20px;
    padding-top: 80px;
}

p.transparente {
    background-color: rgba(0, 0, 0, 0.281);
    max-width: 280px;
    color: white;
    padding-top: 0px;
}

section.fundo {
    background: lightblue center center no-repeat fixed;
    background-size: cover;
    height: 600px;
    padding-top: 100px;
    margin-top: 80px;
}

section#flor {
    background-image: url('../imagens/background001.jpg');
}

section#livro {
    background-image: url('../imagens/background002.jpg');
}